* {
  padding: 0;
  margin: 0;
}
button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

header {
  display: flex;
  background-color: rgb(195, 84, 33);
  justify-content: space-between;
  height: 6rem;
  align-items: center;
  padding: 0 1rem;
  color: aqua;
}
nav a {
  text-decoration: none;
  color: black;
  padding-left: 1rem;
}
nav a:hover {
  color: rgb(129, 126, 126);
}
nav a:first-of-type {
  padding: 0;
}
.firstImg {
  width: 15rem;
  float: left;
}
main {
  display: flex;
  margin: 0 1em;
  text-align: justify;
}
p {
  margin-bottom: 1em;
}
.one {
  width: 35%;
  padding-right: 1rem;
}
.two {
  width: 65%;
}
.btnReadMore {
  background-color: rgb(92, 205, 92);
  padding: 1rem;
  float: right;
}
.btnReadMore:hover {
  background-color: rgb(43, 116, 43);
  color: white;
}
ul {
  margin-left: 1rem;
}
@media (max-width: 600px) {
  main {
    display: block;
  }
  .one,
  .two {
    width: auto;
  }
  .one {
    margin-bottom: 6rem;
    padding: unset;
  }
}
